<!DOCTYPE html>
<html>
<head>
    <title>Test</title>
    <link rel="stylesheet" href="css/foundation.min.css"/>
</head>
<body>

<div ng-app="myApp">

    <div ng-controller="FirstCtrl">
        <input type="text" ng-model="data.message"/>
        <h1>{{data.message}}</h1>
    </div>


    <div ng-controller="SecondCtrl">
        <input type="text" ng-model="data.message"/>
        <h1>{{data.message|reverse}}</h1>
    </div>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.js"></script>
<script src="main.js"></script>
</body>
</html>